In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install -r /content/drive/MyDrive/Recomendations_Yelp_GMap/requeriments.txt

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import datetime
import os

In [ ]:

#Los nombres de los estados estan escritos en minuscula y español para simplificar este estudio
# mapeamos el nombre del estado con la carpeta que contiene los archivos de ese estado
state_names =  {
                'alabama': 'Alabama',
                'alaska': 'Alaska',
                'arkansas' : 'Arkansas' ,
                'california' : 'California',
                'colorado' : 'Colorado',
                'connecticut' : 'Connecticut',
                'delaware' : 'Delaware' ,
                'florida' : 'Florida' ,
                'hawaii' : 'Hawaii' ,
                'idaho' : 'Idaho' ,
                'illinois' : 'Illinois' ,
                'iowa' : 'Iowa' ,
                'kansas' : 'Kansas' ,
                'luisiana' : 'Louisiana' ,
                'maine' : 'Maine' ,
                'maryland' : 'Maryland' ,
                'massachusetts' : 'Massachusetts' ,
                'minesota' : 'Minnesota' ,
                'misisipi' : 'Mississippi'           

            }
# Elejimos alguno de estos estados con datos existentes: Luisiana, California, Florida 
estado_federal = 'California'
estado_federal = estado_federal.lower()
nombre_estado = state_names[estado_federal]

In [ ]:
#Los nombres de los estados estan escritos en minuscula y español para simplificar el codigo
#Diccioanrio para mapear el nombre de cada estado a su respectiva inicial de estado
dic_states =  {
                'alabama': 'AL',
                'alaska': 'AK',
                'arkansas' : 'AR' ,
                'california' : 'CA',
                'colorado' : 'CO',
                'connecticut' : 'CT',
                'delaware' : 'DE' ,
                'florida' : 'FL' ,
                'hawaii' : 'HI' ,
                'idaho' : 'ID' ,
                'illinois' : 'IL' ,
                'iowa' : 'IA' ,
                'kansas' : 'KS' ,
                'luisiana' : 'LA' ,
                'maine' : 'ME' ,
                'maryland' : 'MD' ,
                'massachusetts' : 'MA' ,
                'minnesota' : 'MN' ,
                'misisipi' : 'MS'           

            }

inicial_estado = dic_states[estado_federal]

In [ ]:
#Creamos una lista con los nombres y extensiones de los archivos reviews en la carpeta del estado seleccionado

# Definimos la ruta de la carpeta que contiene los archivos JSON de estado 
carpeta_raiz = '/content/drive/MyDrive/Recomendations_Yelp_GMap/RAW_Data/GoogleMap_Data/reviews-estados'

carpeta_estado ='/review-'+nombre_estado
ruta_archivos = carpeta_raiz+carpeta_estado
# Obtenemos una lista de los nombres de archivos en la carpeta
archivos = os.listdir(ruta_archivos)

# Filtramos los archivos que tienen una extensión .json
archivos_json = [archivo for archivo in archivos if archivo.endswith('.json')]

# Almacenamos los nombres de los archivos en una lista
nombres_archivos = []
for archivo in archivos_json:
    nombres_archivos.append(archivo)

# Imprimimos la lista de nombres de archivos
print(nombres_archivos)

['5.json', '6.json', '7.json', '10.json', '12.json']

In [ ]:
#Usamos una iteración para cargar todos los archivos review en formato .json en un solo dataframe
df_reviews = pd.DataFrame()
tope = len(nombres_archivos)
for i in range(0,tope): 
    df_parcial = pd.read_json(ruta_archivos + '/' + nombres_archivos[i], lines=True)
    df_reviews = pd.concat([df_reviews,df_parcial])
   
# Imprimir el dataframe resultante
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  750000 non-null  float64
 1   name     750000 non-null  object
 2   time     750000 non-null  int64
 3   rating   750000 non-null  int64
 4   text     431450 non-null  object
 5   pics     27365 non-null   object
 6   resp     71646 non-null   object
 7   gmap_id  750000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 51.5+ MB

In [ ]:
#Creamos una lista con los nombres y extensiones de los archivos metadada en la carpeta metadata-sitios
# Definimos la ruta de la carpeta que contiene los archivos metada en formato JSON 
ruta_metadata = '/content/drive/MyDrive/Recomendations_Yelp_GMap/RAW_Data/GoogleMap_Data/metadata-sitios'

# Obtenemos una lista de los nombres de archivos en la carpeta
archivos = os.listdir(ruta_metadata)

# Filtramos los archivos que tienen una extensión .json
archivos_json = [archivo for archivo in archivos if archivo.endswith('.json')]

# Almacenamos los nombres de los archivos metadata en una lista
nombres_archivos_metadata = []
for archivo in archivos_json:
    nombres_archivos_metadata.append(archivo)

# Imprimimos la lista de nombres de archivos metadata
print(nombres_archivos_metadata)

['2.json', '6.json', '7.json', '8.json', '9.json', '10.json', '11.json']

In [ ]:
#Usamos una iteración para cargar los archivos metadata en formato .json en un solo dataframe
df_metadata = pd.DataFrame()
tope = len(nombres_archivos_metadata)
for i in range(0,tope): 
    df_parcial = pd.read_json(ruta_metadata + '/' + nombres_archivos_metadata[i], lines=True)
    df_metadata = pd.concat([df_metadata,df_parcial])
   
# Imprimir el dataframe resultante
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925007 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   name              object
 1   address           object
 2   gmap_id           object
 3   description       object
 4   latitude          float64
 5   longitude         float64
 6   category          object
 7   avg_rating        float64
 8   num_of_reviews    int64
 9   price             object
 10  hours             object
 11  MISC              object
 12  state             object
 13  relative_results  object
 14  url               object
dtypes: float64(3), int64(1), object(11)
memory usage: 235.0+ MB

In [ ]:
df_metadata['category'].head(10)

0                                           [Pharmacy]
1    [Clothing store, Shoe store, Women's clothing ...
2                 [Handicapped transportation service]
3    [Flooring store, Carpet store, Rug store, Tile...
4                                             [Doctor]
5                                     [Auto body shop]
6                                        [Barber shop]
7    [Fashion accessories store, Baby clothing stor...
8                                  [Table tennis club]
9    [Tennis club, Sports complex, Tennis instructo...
Name: category, dtype: object

In [ ]:
#Eliminamos los caracteres "[,],','" del campo category en todo el dataframe metadata
df_metadata['category'] = df_metadata['category'].astype(str)
df_metadata['category'] = df_metadata['category'].str.replace("[", "").str.replace("]", "")
df_metadata['category'] = df_metadata['category'].str.replace("'", "").str.replace("'", "")
#Filtramos el dataframe para que solo contenga a los registros con la palabra 'restaurant' en el campo category
df_metadata = df_metadata[df_metadata['category'].str.contains('restaurant')]

<ipython-input-22-5934524cb76f>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_metadata['category'] = df_metadata['category'].str.replace("[", "").str.replace("]", "")

In [ ]:
#Almacenamos el dataset de metadata de manera permanente para proximas consultas
df_metadata.to_parquet('metadatos_Gmap.parquet')
# Guardamos el archivo de metadata limpio
metadata_file_path = '/content/drive/MyDrive/Recomendations_Yelp_GMap/Clean_Data/'+'metadatos_Gmap.parquet'
df_metadata.to_parquet(metadata_file_path)

In [ ]:
# Unimos las dos tablas (dataframe) en una sola
df_metadata_reviews = pd.merge(df_metadata, df_reviews , on='gmap_id')

In [ ]:
# Eliminamos los campo que ya no necesitamos  y asi reducimos el tamaño del archivo de data final
#union_gmap = union_gmap.drop('pics', axis=1)
#union_gmap = union_gmap.drop('resp', axis=1)
#union_gmap = union_gmap.drop('geometry', axis=1)
#union_gmap = union_gmap.drop('name_x', axis=1)
#union_gmap = union_gmap.drop('address', axis=1)
#union_gmap = union_gmap.drop('description', axis=1)
#union_gmap = union_gmap.drop('category', axis=1)
#union_gmap = union_gmap.drop('latitude', axis=1)
#union_gmap = union_gmap.drop('longitude', axis=1)
#union_gmap = union_gmap.drop('avg_rating', axis=1)
#union_gmap = union_gmap.drop('num_of_reviews', axis=1)
#union_gmap = union_gmap.drop('price', axis=1)
#union_gmap = union_gmap.drop('hours', axis=1)
#union_gmap = union_gmap.drop('MISC', axis=1)
#union_gmap = union_gmap.drop('state', axis=1)
df_metadata_reviews = df_metadata_reviews.drop('relative_results', axis=1)
df_metadata_reviews = df_metadata_reviews.drop('url', axis=1)

In [ ]:
# Convertir el valor a un objeto datetime
df_metadata_reviews['time'] = datetime.datetime.fromtimestamp(df_metadata_reviews['time'] / 1000.0)

# Imprimir la fecha y hora en un formato legible
print(df_metadata_reviews['time'].strftime('%Y-%m-%d %H:%M:%S'))

TypeError: ignored

In [ ]:
# Aplicar la función fromtimestamp() a la serie 'time' y crear una nueva serie de objetos de fecha y hora
date_series = df_metadata_reviews['time'].apply(lambda x: datetime.datetime.fromtimestamp(x / 1000.0))

# Asignar la nueva serie de objetos de fecha y hora a una nueva columna en el dataframe
df_metadata_reviews['datetime'] = date_series

In [ ]:
df_metadata_reviews.MISC.unique()

In [ ]:

# Guardamos el archivo de metadata limpio
Gmap_review_file_path = '/content/drive/MyDrive/Recomendations_Yelp_GMap/Clean_Data/'+'G_reviews_'+inicial_estado+'.parquet'
df_metadata.to_parquet(Gmap_review_file_path)